<nav class="p-4">
    <p><strong>Zuchini Store</strong></p>
    <ul class="nav">
        <!-- <li routerLinkActive="active" *ngIf="!isAuthenticated">
            <a routerLink="/auth">Authenticate</a>
        </li> -->
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/products" class="nav-link">Products</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/cart" class="nav-link">Cart</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/auth" class="nav-link text-danger">Logout</a>
        </li>
      </ul>
</nav>