.card {
    display: flex;
    // justify-content: center;
    align-items: center;
}

.card img {
    // width: 100px;
    height: 100px;
    max-width: 100px;
}

.card .controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card .controls * {
    margin-left: 10px;
}

.card .controls input {
    width: 80px;
    text-align: center;
}
